@font-face {
    font-family: "mreaves-bold";
    src: url("../fonts/MrEavesXLModOT-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "mreaves-book";
    src: url("../fonts/MrEavesXLModOT-Book.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "mreaves-light";
    src: url("../fonts/MrEavesXLModOT-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "mreaves-regular";
    src: url("../fonts/MrEavesXLModOT-Reg.ttf") format("truetype");
  }

// .custom-container {
//   max-width: 1440px;
//   .video-part{
//     margin: 0 auto;
//   }
// }
.text{
  font-family: 'mreaves-book';
  font-size: 16px;
  word-spacing: .2rem;
  span{
    font-family: 'mreaves-regular';
    font-size: 20px;
  }
}
.container{
  .clarity{
    display: flex;
    gap: 70px;
    margin-top: 50px;
  }
}
.heading{
  h3{
    font-family: 'mreaves-regular';
    // font-weight: 400;
  }
}